
*{
margin: 0;
padding: 0;
}



.rgrid
{

	display: block;
	width: 100%;
	text-align: center;


}


.rgrid .item
{
	text-align: left;
	width:100%;
	display:block;
	display:inline-block;
	vertical-align: top;
}

@media screen and (min-width: 480px)
{
	.rgrid .item
	{
		width: 49%;
	}
}

/* Larger than phablet */
@media screen and (min-width: 640px)
{
	.rgrid .item
	{
		width:32%;
	}
}

/* Larger than tablet */
@media screen and (min-width: 980px)
{
	.rgrid .item
	{
		width:24%;
	}
}
